.header {
    border-bottom: 1px solid red;
    display: flex;
    width: 100%;
    justify-content: center;

    &__logo {
        // background-image: url("../../logo.png");
        // background-repeat: no-repeat;
        width: 430px;
        height: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        &__logo {
            // background-image: url("../../logo.png");
            // background-repeat: no-repeat;
        //    img {width: 300px;} 
           width: 300px;
            // height: 100px;
        }
    }
  }